body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
/* Navigation */
.navbar {
  background: #c87155;
  padding: 1em;
}
.navbar .logo {
  font-family: abril fatface;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
}
img#menu-cta.menu {
  display: none;
}
img#exit.exit {
  display: none;
}
a {
  color: #fff;
}
a.nav-link {
  color: white;
  font-size: 22px;
  text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
}
a.nav-link:hover {
  color: gray;
}
/* Hero Section */
.hero {
  text-align: center;
  padding: 300px 0;
}
.hero p {
  padding: 150px;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 249, 249);
  text-transform: uppercase;
}
.hero h1 {
  color: #fff;
  font-family: "Abril fatface", cursive;
  font-size: 85px;
  height: 50%;
  text-shadow: 0 0.4rem 0.1rem rgb(0 0 0 / 50%);
}
p.lead {
  font-weight: 600;
  font-size: 35px;
}
section {
  min-height: 100vh;
}
section.hero {
  background-color: #c87155;
}
.hero-cta {
  background-color: #806161;
  font-size: 17px;
  padding: 15px 27px;
  border-radius: 12px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
}
.hero-cta:hover {
  color: gray;
}
/* About Section */
img.solar-img {
  width: 500px;
  height: auto;
}
p.info p.info2{
  font-family: "Poppins", sans-serif;
}
section.info-section {
  text-align: center;
  padding: 270px 0;
  background-color: #ffffff;
}
.info-section h1 {
  font-size: 60px;
  font-family: "Abril Fatface", cursive;
  color: #806161;
}
a.info-link {
  color: #806161;
}
h3{
  padding: 120px 0;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  padding-bottom: 30px;
}
.info-section p {
  padding: 11px 0; 
}
/* Contact Section */
section.contact-section {
  padding: 300px 0;
  background-color: #999;
}

form div.container {
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0 0 0 / 50%);
  width: 100%;
  padding: 15px;
  flex-wrap: wrap;
  border-radius: 20px;
  z-index: 1;
}
div.form-title {
  font-family: "Abril Fatface", cursive;
  font-size: 60px;
  color: #806161;
  padding: 0px 0px 34px;
  margin: 0px 0px 8px;
}
div.mb-3{
  width: 100%;
  margin-bottom: 30px;
  border: none;
  
}
input, textarea{
  height: 62px;
  padding: 0 20px 0 23px;
  outline: none;
  border: none;
  font-weight: 600;
  box-shadow: 0 0.02rem 0.5rem rgb(0 0 0 / 50%);
}
div#emailHelp.form-text {
  text-align: left;
}
textarea {
  overflow: auto;
  resize: vertical;
  text-transform: none;
  text-shadow: none;
  padding: 19px 20px 0 23px;
  min-height: 199px;
}

input#name{
  display: block;
  width: 100%;
  background: transparent;
  color: aqua;
  line-height: 1.2;
  border-radius: 20px;  
}

input#email{
  display: block;
  width: 100%;
  background: transparent;
  color: aqua;
  line-height: 1.2;
  border-radius: 20px;
}
textarea#message {
  display: block;
  width: 100%;
  background: transparent;
  line-height: 1.2;
  border-radius: 20px;
}
button.form-btn {
  background-color: #806161;
  font-size: 17px;
  padding: 12px 30px;
  border-radius: 20px;
  display: inline-block;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%); 
  border: none;
}
button.form-btn:hover {
  color: gray;
}
div.container-btn {
  padding-top: 30px;
  padding-bottom: 43px;
}

/* Footer */
footer {
  padding: 10px;
}

.my-footer{
  text-align: center;
  padding: 15px;
}

ul.list-inline {
  padding: 12px 0;
  font-size: 2rem;
  color: #fff;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  cursor: pointer;  
}
ul.list-inline.social-links i:hover{
  color: #BFA1A1;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

div.text-center.p-3{
  font-family: "Poppins", sans-serif;
  color: #fff;
}

