body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background: #c87155;
  padding: 1em;
}
.navbar .logo {
  font-family: abril fatface;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
}
img#menu-cta.menu {
  display: none;
}
img#exit.exit {
  display: none;
}
a {
  color: #fff;
}
a.nav-link {
  color: white;
  font-size: 22px;
}
/* Hero Section */
.hero {
  text-align: center;
  padding: 300px 0;
}
.hero p {
  padding: 150px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
.hero h1 {
  
  color: #fff;
  font-family: "Abril fatface", cursive;
  font-size: 85px;
  height: 50%;
}
section.hero {
  background-color: #c87155;
  min-height: 100vh;
}
.hero-cta {
  background-color: #806161;
  font-size: 17px;
  padding: 15px 27px;
  border-radius: 12px;
  display: inline-block;
  text-decoration: none;
}
